<ion-view view-title="Learn">
  <ion-content >
    <ion-slide-box style="background-color:#333333" does-continue="true" show-pager="true" on-slide-changed="slideHasChanged($index)">
	  <ion-slide>
	    <div class="box fira">
	    	<h1 style="margin-top:15px;">Welcome!</h1>
	    	<h3>HoppScotch allows you to find real time reviews of places around the world.</h3>
	    	<img src="img/map.png" style="width:100%">
	    	<p style="margin-left:5px;margin-right:5px;text-align:left">&nbsp; &nbsp; Use the heatmap to see in an instant where we have ratings. If there is a 'hot spot' on the map, it means we've got ratings for it!</p>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box fira">
	    	<h1 style="margin-top:15px;">Where to Go...</h1>
	    	<h3>Tap anywhere on the map to view or checkin.</h3>
	    	<img src="img/list.png" style="width:100%">
	    	<p style="margin-left:5px;margin-right:5px;text-align:left">&nbsp; &nbsp; You will automatically be allowed to check in if you are actually there, otherwise, you are allowed to view the live chat feed and check out the rating. The rating on the left is out of 5.</p>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box fira">
	    	<h1 style="margin-top:15px;">Live Ratings</h1>
	    	<h3>Checkin and rate.</h3>
	    	<img src="img/rate.png" style="width:100%">
	    	<p style="margin-left:5px;margin-right:5px;text-align:left">&nbsp; &nbsp;  Ratings are only given by people that are actually there. This is done automatically by GPS. Feel free to browse around, even if you're not there.  Ratings are automatically deleted after 4 hours so the ratings reflect what's going on now.</p>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box fira">
	    	<h1 style="margin-top:15px;">Live Chat</h1>
	    	<h3>Join in or watch.</h3>
	    	<img src="img/message.png" style="width:100%">
	    	<p style="margin-left:5px;margin-right:5px;text-align:left">&nbsp; &nbsp;  If you're actually there, you will be allowed to check in. A chat box will appear at the bottom of the page after you give a rating. Everyone else can watch.</p>
	    </div>
	  </ion-slide>
	  <ion-slide>
	    <div class="box fira">
	    	<h1 style="margin-top:15px;">Vote</h1>
	    	<h3>Upvote or Downvote messages</h3>
	    	<img src="img/vote.png" style="width:100%">
	    	<p style="margin-left:5px;margin-right:5px;text-align:left">&nbsp; &nbsp; Votes are allowed by people who are checked in. Slide left on the message to reveal the options.</p>
	    </div>
	  </ion-slide>
	</ion-slide-box>
  </ion-content>
</ion-view>
